#OS junk files
[Tt]humbs.db
*.DS_Store

#R files
*.Rproj.user
*.Rhistory
*.Ruserdata
*.Rproj
*.html

#Compressed files
*.zip
*.zipx

# Office temporary
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*

#Other temporary
*.tmp
*.bak

#Excluding some data files due to file size limitations
#7-zip versions of these files split into chunks of < 100 Mb are included in respository
output/mod1.fit.xz